<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-text-left>ข้อมูลโปรโมชั่น</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content pager="ture">
  <ion-card>
    <ion-row>
      <ion-col>
        <ion-label>
          <p>{{promotionData.Discount_code}}</p>
          <p>{{promotionData.Discount_desc}}</p>
          <img [src]="data.Image_uri" alt="">
        </ion-label>
        <!-- <ion-checkbox slot="start" color="success" value="{{data.Discount_id}}"
      (click)="selectAddrToOrder(data.Discount_id, data.Discount_value)"></ion-checkbox> -->
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>