.map-size {
  position: relative;
  height: 400px;
}

.card-style {
  border-top: 1px solid #aaa;
}

.card-style:active {
  background-color: gainsboro;
}

.selectAddress {
  background-color: gainsboro;
}
