<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span></ion-title>
      
    <!--
    <ion-title ion-text-left>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</ion-title>
    -->

  </ion-toolbar>
</ion-header>

<ion-content pager="ture">
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-label class="doc-name">
          ที่อยู่
        </ion-label>
      </ion-col>
    </ion-row>
    <hr>
  </ion-grid>

  <ion-grid>
    <div *ngIf="!addressData">
      <ion-card style="border-top: 1px solid #aaa">
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">
              <ion-text color="primary">
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </ion-text>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div *ngFor="let data of addressData; let i = index;">
      <ion-card [ngClass]="(data.active)?'card-style selectAddress':'card-style'">
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail" size="7">
              <ion-text color="primary">ที่อยู่ในการจัดส่ง</ion-text><br>
              <p>{{data?.address_detail}}</p>
            </ion-label>

          </ion-col>

          <ion-col size="1">
            <ion-icon name="trash-outline" (click)="remove(data?.Branch_code)"></ion-icon>
          </ion-col>

          <button class="myButtonGreen" (click)="selectAddress(data)">เลือก</button>
        </ion-row>
      </ion-card>
    </div>

    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <!-- <ion-button size="default" color="success" expand="full" (click)="gotoAddressAdd()">เพิ่มที่อยู่</ion-button> -->
          <button class="myButtonGreen" (click)="gotoAddressAdd()">เพิ่มที่อยู่</button>
        </ion-footer>
      </ion-col>
    </ion-row>

  </ion-grid>






</ion-content>