<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!--
    <ion-title ion-text-left>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</ion-title>
    -->
    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content pager="ture">
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <div id="mapGoogle" class="map-size"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align: center;">
    <ion-row class="map-size">
      <ion-col>
        <div id="mapGoogleDirection"></div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>