<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-text-center>ลงทะเบียนด้วย Max Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" text-center class="vertical-align-content">
  <!-- <ion-icon name="person-outline" size="large" class="user-icon" (click)="goRegister()"></ion-icon> -->

  <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-img src="../../assets/img/max-card.png" class="logo"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <h4>สมัครสมาชิก Max Card</h4>
        </ion-col>
      </ion-row>

      <form [formGroup]="registerForm">
        <ion-row>
          <ion-col>
            <ion-label>กรุณาเลือกประเภทการสมัคร</ion-label>
            <ion-select
              placeholder="กรุณาเลือกประเภทการสมัคร"
              formControlName="registerType"
              (ionChange)="changeCard($event)"
              [class.invalid]="!registerForm.controls.registerType.valid && (registerForm.controls.registerType.dirty)"
            >
              <ion-select-option value="1">หมายเลขโทรศัพท์มือถือ</ion-select-option>
              <ion-select-option value="2">หมายเลขบัตรประชาชน</ion-select-option>
              <ion-select-option value="3">หมายเลข Maxcard</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>หมายเลข</ion-label>
            <ion-input
              placeholder="หมายเลข"
              formControlName="regisNumber"
              [type]="inputTypeCard"
              [ngModel]="inputTypeCardValue"
              [maxlength]="inputTypeCardMax"
              [class.invalid]="!registerForm?.controls?.regisNumber?.valid && (registerForm?.controls?.regisNumber?.dirty)"
              style="padding-left: 5px !important"
            >
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <!-- <ion-button size="default">เข้าสู่ระบบ</ion-button> -->
            <button class="myButtonGreen" (click)="GetProfileFromMaxCard()">ค้นหา</button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-row>
</ion-content>
