<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title ion-text-left>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content pager="ture">
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-label class="doc-name">
          ที่อยู่
        </ion-label>
      </ion-col>
    </ion-row>
    <hr>
  </ion-grid>


  <ion-grid>
    <div *ngIf="!addressData">
      <ion-card style="border-top: 1px solid #aaa">
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">
              <ion-text color="primary">
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </ion-text>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <ion-radio-group value="grape">
      <ion-card style="border-top: 1px solid #aaa" *ngFor="let data of addressData; let i = index;">
        <ion-row *ngIf="data.address_detail!==null">
          <ion-item>
            <ion-label>
              <textarea rows="5" style="font-size:14px;">{{data.address_detail}}</textarea>
            </ion-label>
            <ion-radio slot="start" color="success" value="{{data.Branch_code}}" (click)="selectAddrToOrder(data.address_detail)"></ion-radio>
          </ion-item>
        </ion-row>
      </ion-card>
    </ion-radio-group>



    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <button class="myButtonGreen" (click)="addToOrder()">เลือกที่อยู่</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>