<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span></ion-title>
      
    <!--
    <ion-title ion-text-left>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</ion-title>
    -->

  </ion-toolbar>
</ion-header>
<ion-content pager="ture">
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-label class="doc-name">
          เพิ่มที่อยู่
        </ion-label>
      </ion-col>
    </ion-row>
    <hr>
  </ion-grid>

  <ion-card>
    <form [formGroup]="addressForm">
      <ion-grid>
        <ion-row style="width:100%;">
          <ion-col>
            <ion-row>
              <ion-col>
                <ion-label>* ชื่อ</ion-label>
                <ion-input placeholder="ชื่อ" formControlName="contact_name"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>* เบอร์โทรติดต่อ</ion-label>
                <ion-input placeholder="เบอร์โทรติดต่อ" formControlName="contact_phone"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>* อีเมลติดต่อ</ion-label>
                <ion-input placeholder="อีเมลติดต่อ" formControlName="contact_email"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>บ้านเลขที่</ion-label>
                <ion-input placeholder="บ้านเลขที่" formControlName="add_no"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>ถนน</ion-label>
                <ion-input placeholder="ถนน" formControlName="road"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>ซอย</ion-label>
                <ion-input placeholder="ซอย" formControlName="soi"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>จังหวัด</ion-label>
                <ion-select placeholder="กรุณาเลือก" formControlName="province" #province
                  (ionChange)="getDistrict(province.value)"
                  [class.invalid]="!addressForm.controls.province.valid && (addressForm.controls.province.dirty || submitAttempt)">
                  <ion-select-option *ngFor="let data of provList" value="{{data.Pro_id}}">{{data.Pro_nameth}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>อำเภอ</ion-label>
                <ion-select placeholder="กรุณาเลือก" formControlName="district" #district
                  (ionChange)="getSubDistrict(district.value)"
                  [class.invalid]="!addressForm.controls.district.valid && (addressForm.controls.district.dirty || submitAttempt)">
                  <ion-select-option *ngFor="let data of distList" value="{{data.Dist_id}}">{{data.Dist_nameth}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>ตำบล</ion-label>
                <ion-select placeholder="กรุณาเลือก" formControlName="subdistrict" #subdistrict
                  (ionChange)="selectSubDistrict(subdistrict.value)"
                  [class.invalid]="!addressForm.controls.subdistrict.valid && (addressForm.controls.subdistrict.dirty || submitAttempt)">
                  <ion-select-option *ngFor="let data of subdistList" value="{{data.Sub_id}}"
                    (click)="data.setZipcode(data.Sub_zipcode)">{{data.Sub_nameth}}
                  </ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>โทรศัพท์</ion-label>
                <ion-input placeholder="โทรศัพท์" formControlName="phone"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>อีเมล</ion-label>
                <ion-input placeholder="อีเมล" formControlName="email"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>โทรสาร</ion-label>
                <ion-input placeholder="โทรสาร" formControlName="fax"></ion-input>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div id="mapGoogle" class="map-size"></div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-footer class="ion-no-border">
              <!-- <ion-button size="default" color="success" expand="full" (click)="saveAddress()">บันทึกข้อมูล</ion-button> -->
              <button class="myButtonGreen" (click)="saveAddress()">บันทึกข้อมูล</button>
            </ion-footer>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>