.sub-header {
  // border-bottom: 1px solid #cccccc;
  padding: 0px 8px 4px;
  font-size: 14px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.btn-edit-profile {
  width: 100%;
  --background: #404041;
  color: #ffffff;
  text-transform: unset;
}
.btn-logout {
  width: 100%;
  text-transform: unset;
}
.profile-img {
  border: 1px solid #4da859;
  padding: 2px;
  margin: auto;
}
.doc-name {
  color: #4da859;
  font-family: 'OpenSans-Bold';
}
.doc-id {
  color: #404041;
  font-family: 'OpenSans-Light';
  font-size: 12px;
  line-height: 30px;
}
.ion-slides {
  width: 100%;
}
.swiper-container {
  padding-bottom: 30px;
  margin-top: 0px;
}
ion-card {
  .swiper-container {
    padding-bottom: 0px;
    margin-top: 0px;
  }
}
.swiper-pagination {
  bottom: 10px;
}
ion-list {
  width: 100%;
  margin: 6px 0px;
  padding: 0px;
  background: transparent !important;
}
ion-item {
  --padding-start: 0px;
  height: auto !important;
  margin: 8px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
}
ion-thumbnail {
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  img {
    width: 100%;
  }
}
ion-card {
  ion-card-title {
    padding-right: 20px;
    text-align: center;
  }
  ion-button {
    font-size: 12px;
    --border-radius: 5px;
    width: 100%;
    --background: #4da859 !important;
  }
  h5 {
    font-family: 'DBHelvethaicaX_Bd';
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0px;
    color: #4da859;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  span {
    color: #4da859;
  }
  p {
    color: #404041;
    font-family: 'DBHelvethaicaX';
    font-size: 12px;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    line-height: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 8px 0 0px;
    text-align: center;
  }
}

ion-slide {
  width: 100%;
}
.ribbin {
  position: absolute;
  right: -8px;
  color: #4da859;
  font-size: 24px;
  top: -8px;
}
ion-footer {
  padding-bottom: 0px;
}
.readmore {
  text-align: left;
  text-transform: none;
  font-family: 'OpenSans-Light';
  font-size: 12px;
  color: #4da859;
  width: 45%;
  float: left;
  ion-icon {
    font-family: 'OpenSans-Light';
    font-size: 12px;
    padding-top: 2px;
    position: relative;
    top: 2px;
  }
}
.summary {
  float: right;
  text-align: right;
  text-transform: none;
  font-family: 'OpenSans-Light';
  font-size: 12px;
  color: #4da859;
  width: 45%;
  position: absolute;
  right: 0;
  ion-icon {
    font-family: 'OpenSans-Light';
    font-size: 12px;
    padding-top: 2px;
    position: relative;
    top: 2px;
  }
}

.btn-video {
  background-color: transparent;
  font-size: 10px;
  color: #404041;
  padding: 0;
  margin-bottom: 6px;
  margin-right: 8px;
  img {
    width: 16px;
  }
}
.btn-audio {
  background-color: transparent;
  font-size: 10px;
  color: #404041;
  padding: 0;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-left: 8px;
  img {
    width: 18px;
  }
}
