<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-text-left>PDPA คืออะไร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          Personal Data Protection Act หรือ PDPA คือ พ.ร.บ.คุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562
          ซึ่งเป็นกฎหมายที่ออกมาเพื่อคุ้มครองสิทธิเกี่ยวกับข้อมูลส่วนบุคคล
          ไม่ว่าจะเป็นการควบคุมไม่ให้องค์กรนำข้อมูลส่วนบุคคลของเราไปใช้โดยไม่ได้รับความยินยอม
          ไปจนถึงการป้องกันเพื่อไม่ให้เกิดการนำข้อมูลไปใช้โดยมิชอบ

          สำหรับกฎหมายคุ้มครองข้อมูลส่วนบุคคลนั้น เป็นผลมาจากการเปลี่ยนผ่านเข้าสู่ดิจิทัล
          ซึ่งส่งผลให้มีการล่วงละเมิดสิทธิในข้อมูลส่วนบุคคลเพิ่มมากขึ้น
          ส่วนสาเหตุสำคัญของการออกกฎหมายฉบับนี้ในราชกิจจานุเบกษา ได้แนบท้ายไว้ว่า
          “เนื่องจากมีการล่วงละเมิดสิทธิส่วนบุคคลเป็นจำนวนมาก
          จนสร้างความเดือดร้อนรำคาญและความเสียหายให้แก่เจ้าของข้อมูลส่วนบุคคล และการเก็บข้อมูลก็ทำได้ง่าย
          สะดวกและรวดเร็ว…”

          ยกตัวอย่างง่ายๆ เช่น การส่งอีเมลหรือการโทรศัพท์ไปหาโดยการซื้อฐานข้อมูลมาจากที่อื่น
          โดยที่เจ้าของอีเมลหรือเบอร์โทรไม่เคยรับทราบมาก่อนว่า “ฉันยินยอมให้ข้อมูลกับคุณตอนไหน?” ก็เป็นตัวอย่างง่ายๆ
          ที่เรามักเห็นกันบ่อยๆ

          ปัจจุบันมีการใช้กฎหมายคุ้มครองข้อมูลส่วนบุคคลอยู่ในหลายประเทศ โดยเฉพาะในอาเซียน ได้แก่ อินโดนีเซีย มาเลเซีย
          ฟิลิปปินส์ เวียดนาม ไทย ในขณะที่สหรัฐอเมริกาและสหภาพยุโรป ก็ประกาศใช้กฎหมายนี้เช่นกัน

          ดังนั้นกฎหมายฉบับนี้จึงเป็นประโยชน์ต่อผู้บริโภค โดยให้ความคุ้มครองข้อมูลข่าวสารส่วนบุคคล เช่น การศึกษา
          ฐานะการเงิน ประวัติสุขภาพ ประวัติอาชญากรรม ประวัติการทำงาน และข้อมูลส่วนบุคคล เช่น ลายพิมพ์นิ้วมือ
          บันทึกลักษณะเสียง เลขบัตรประชาชน หรือเลขหมายเอกสารส่วนตัวอื่น ๆ
          โดยห้ามไม่ให้ผู้อื่นนำข้อมูลดังกล่าวไปใช้เพื่อประโยชน์ในด้านใดด้านหนึ่งที่เจ้าของข้อมูลไม่ยินยอมให้นำไปใช้ประโยชน์

          บางครั้งข้อมูลเหล่านี้ถูกเก็บไปใช้อย่างง่ายดายและรวดเร็วผ่านสื่อดิจิทัล
          เพราะฉะนั้นผู้ที่ใช้ดิจิทัลจึงมีความเกี่ยวข้องกับกฎหมายนี้เป็นอย่างมาก
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>