<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span></ion-title>
      
    <!--
    <ion-title ion-text-left>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}
    </ion-title>
    -->

  </ion-toolbar>
</ion-header>
<ion-content pager="ture">
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-label class="doc-name">
          รายการสั่งซื้อ
        </ion-label>
      </ion-col>
    </ion-row>
    <hr>
  </ion-grid>
  <ion-grid>
    <!-- <ion-card *ngFor="let data of order" style="border-top: 1px solid #aaa">
      <ion-row>
        <ion-col size="5">
          <ion-label class="doc-detail">
            <h4>เลขที่สั่งซื้อ</h4>
            <h4>จำนวนรายการ</h4>
            <h4>จำนวนเงิน</h4>
            <h4>วันที่สั่งซื้อ</h4>
            <h4>สถานะ</h4>
            <h4>ร้านที่ซื้อ</h4>
            <h4>ซื้อพนักงานที่ส่ง</h4>
          </ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-label class="doc-detail">
            <h4 (click)="gotoDetail(data)">: <a>{{data.Order_no}}</a></h4>
            <h4>: - รายการ</h4>
            <h4>: {{data.Total_amount}} บาท</h4>
            <h4>: {{data.Order_date | date: 'dd/MM/yyyy H:mm:ss' }}</h4>
            <h4>: {{data.Status_desc}}</h4>
            <h4>: {{data.Plant_name_th}}</h4>
            <h4>: {{data.Delivery_name}}</h4>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-card> -->

    <ion-card *ngFor="let item of order; index as i">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            เลขที่สั่งซื้อ
          </ion-col>
          <ion-col>
            : <a>{{item.Order_no}}</a>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col size="4">
            จำนวนรายการ
          </ion-col>
          <ion-col>
            : {{item.Order_qty}} รายการ
          </ion-col>
        </ion-row> -->

        <!-- <ion-row>
          <ion-col size="4">
            จำนวนเงิน
          </ion-col>
          <ion-col>
            : {{item.Total_amount}} บาท
          </ion-col>
        </ion-row> -->

        <ion-row>
          <ion-col size="4">
            วันที่สั่งซื้อ
          </ion-col>
          <ion-col>
            : {{item.Order_date | date: 'dd/MM/yyyy HH:mm:ss'}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            สถานะ
          </ion-col>
          <ion-col>
            : {{ convertStatusText(item.Status) }}
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col size="4">
            ชื่อร้านแก๊ส
          </ion-col>
          <ion-col>
            : {{item.Plant_name_th}}
          </ion-col>
        </ion-row> -->

        <!-- <ion-row>
          <ion-col size="4">
            สถานที่จัดส่ง
          </ion-col>
          <ion-col>
            : {{item.Ship_to_desc}}
          </ion-col>
        </ion-row> -->

        <ion-row>
          <ion-col>
            <button class="myButtonGreen" (click)="gotoDetail(item)">รายละเอียด</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>
</ion-content>