<ion-content [fullscreen]="true" text-center class="vertical-align-content">
  <!-- <ion-icon name="person-outline" size="large" class="user-icon" (click)="goRegister()"></ion-icon> -->

  <ion-row justify-content-center align-items-center style="height: 100%">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-img src="../../assets/img/ptLogo.png" class="logo"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-text-center">
          <h4>เข้าสู่ระบบ</h4>
        </ion-col>
      </ion-row>

      <form [formGroup]="loginForm">
        <ion-row>
          <ion-col>
            <ion-label>ชื่อผู้ใช้งาน</ion-label>
            <ion-input
              placeholder="ชื่อผู้ใช้งาน"
              formControlName="username"
              type="text"
              [class.invalid]="!loginForm?.controls?.username?.valid && (loginForm?.controls?.username?.dirty || submitAttempt)"
              style="padding-left: 5px !important"
            >
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label>รหัสผ่าน</ion-label>
            <ion-input
              placeholder="รหัสผ่าน"
              formControlName="password"
              type="password"
              [class.invalid]="!loginForm?.controls?.password?.valid && (loginForm?.controls?.password?.dirty || submitAttempt)"
              style="padding-left: 5px !important"
            >
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <!-- <ion-button size="default">เข้าสู่ระบบ</ion-button> -->
            <button class="myButtonGray" (click)="goForgotpassword()">ลืมรหัสผ่าน</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <!-- <ion-button size="default">เข้าสู่ระบบ</ion-button> -->
            <button class="myButtonGreen" (click)="goLogin()">เข้าสู่ระบบ</button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <button class="myButtonGreen" (click)="goRegister()">ลงทะเบียนใช้งาน</button>
          </ion-col>
        </ion-row>

        <!--<ion-row>
          <ion-col>
            <button class="myButtonRed" (click)="goHome()">ยกเลิก
            </button>
          </ion-col>
        </ion-row>-->

        <ion-row>
          <ion-col>
            <button class="myButtonGreen" (click)="goRegisterMacCard()">ลงทะเบียนด้วย Max Card</button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-row>
</ion-content>
