<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>ตระกร้าสินค้า</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>ประวัติสั่งซื้อ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>ข้อมูลผู้ใช้</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>