<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name"
        style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}}
        {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name"
        style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span>
    </ion-title>

    <!--
    <ion-title ion-text-left>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</ion-title>
    -->
  </ion-toolbar>
</ion-header>

<ion-content pager="ture">
  <ion-grid style="text-align: center">
    <ion-row>
      <ion-col>
        <ion-label class="doc-name"> รายการสั่งซื้อ </ion-label>
      </ion-col>
    </ion-row>
    <hr />
  </ion-grid>

  <ion-card *ngIf="addrSelect?.Branch_code === '-'">
    <ion-grid>
      <ion-row>
        <ion-col style="color: #13ca7b; text-align: center" (click)="selectAddress()"> <label
            style="font-size: 16px">กดเพื่อเลือกที่อยู่จัดส่ง</label><br /> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="addrSelect?.Branch_code !== '-'">
    <ion-grid>
      <ion-row>
        <ion-col style="color: #13ca7b" (click)="selectAddress()">
          <i class="fas fa-home" aria-hidden="true"></i> <label style="font-size: 14px">ที่อยู่ในการจัดส่ง</label><br />
          <label style="font-size: 12px">{{addrSelect.contactname}}</label><br />
          <label style="font-size: 12px">{{addrSelect.contactmail}}</label><br />
          <!-- <label style="font-size:12px;">{{addrSelect.Branch_desc}}</label><br> -->
          <label style="font-size: 12px">{{addrSelect.address_detail}}</label><br />
          <label style="font-size: 12px">{{addrSelect.contacttel}}</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!--
  <ion-grid>
    <div *ngIf="!cart">
      <ion-card style="border-top: 1px solid #aaa">
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">
              <ion-text color="primary">
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </ion-text>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ion-grid>
  -->

  <ion-card *ngIf="cart?.length <= 0">
    <ion-grid>
      <ion-row>
        <ion-col style="color: #13ca7b; text-align: center" (click)="gotoHome()"> <label
            style="font-size: 16px">กดเพื่อเลือกรายการสินค้า</label><br /> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngFor="let data of cart; let idx = index">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-slides loop="false" pager="false" height="300">
            <ion-slide *ngFor="let img of data.image_detail">
              <img src="{{img.uri}}" />
            </ion-slide>
          </ion-slides>
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col size="11" style="padding: 0 5px !important">
              <ion-label class="doc-detail">
                <h3>{{data.Mat_desc}}</h3>
              </ion-label>
            </ion-col>
            <ion-col size="1" class="binstyle">
              <ion-label class="doc-detail">
                <ion-icon name="trash-outline" color="danger" (click)="removeProd(idx)"></ion-icon>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0 5px !important">
              <ion-label class="doc-detail">
                <h4>จำนวน :</h4>
              </ion-label>
            </ion-col>
            <ion-col style="text-align: right; padding: 0 5px !important">
              <ion-label class="doc-detail">
                <h4>{{data.prodQty}} {{data.Base_unit}}</h4>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0 5px !important">
              <ion-label class="doc-detail">
                <h4>ราคา :</h4>
              </ion-label>
            </ion-col>
            <ion-col style="text-align: right; padding: 0 5px !important">
              <ion-label class="doc-detail">
                <h4>{{data.sumProdPrice + data.sumDepPrice + data.sumPriceDelivery + data.sumServicePrice |
                  number:'1.2-2':'en-US'}} บาท</h4>
              </ion-label>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col style="padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <h4>ค่ามัดจำถัง :</h4>
              </ion-label>
            </ion-col>
            <ion-col style="text-align: right; padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <h4>{{ data.sumDepPrice}} บาท</h4>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <h4>ค่าจัดส่ง :</h4>
              </ion-label>
            </ion-col>
            <ion-col style="text-align: right; padding: 0 5px !important;">
              <ion-label class="doc-detail">
                <h4>{{data.sumPriceDelivery}} บาท</h4>
              </ion-label>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col style="padding: 0 5px !important">
              <ion-label class="doc-detail">
                <h4>ส่วนลด :</h4>
              </ion-label>
            </ion-col>
            <ion-col style="text-align: right; padding: 0 5px !important">
              <ion-label class="doc-detail">
                <h4>{{data.sumProdDiscount | number:'1.2-2':'en-US'}} บาท</h4>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="padding: 0 5px !important">
              <ion-label class="doc-detail">
                <h4>รวม :</h4>
              </ion-label>
            </ion-col>
            <ion-col style="text-align: right; padding: 0 5px !important">
              <ion-label class="doc-detail">
                <h4>{{data.sumProdTotal | number:'1.2-2':'en-US'}} บาท</h4>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-label class="doc-detail"> </ion-label>
        </ion-col>
        <ion-col size="4" style="text-align: right">
          <ion-label class="doc-detail"> </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card *ngIf="showPriceDetail">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="doc-detail">รวม</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{dataTotalPrice + dataTotalDepPrice + dataTotalDelivery}} บาท</ion-label>
        </ion-col>
      </ion-row> -->
  <!-- <ion-row>
        <ion-col>
          <ion-label class="doc-detail">ค่ามัดจำถัง</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{dataTotalDepPrice}} บาท</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="doc-detail">ค่าจัดส่ง</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{dataTotalDelivery}} บาท</ion-label>
        </ion-col>
      </ion-row> -->
  <!-- <ion-row>
        <ion-col>
          <ion-label class="doc-detail">ส่วนลด</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{dataTotalDiscount}} บาท</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="doc-detail">รวมทั้งหมด</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{dataTotalAmount}} บาท</ion-label>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card> -->

  <ion-card (click)="showPriceDetail=!showPriceDetail" class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="success">
            <h2>{{dataTotalAmount | number:'1.2-2':'en-US'}} บาท</h2>
            *ราคาดังกล่าวรวมภาษีมูลค่าเพิ่มแล้ว
            <div style="margin-top: 0px">*ราคาขึ้นอยู่กับพื้นที่การให้บริการ</div>
          </ion-text>
        </ion-col>
        <!-- <ion-icon name="chevron-down-outline" *ngIf="!showPriceDetail"></ion-icon> -->
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <button class="myButtonGreen" (click)="gotoConfrimOrder()">ดำเนินการต่อ</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>