
.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.logo {
  max-width: 180px;
  margin: auto;
}
ion-button {
  --background: rgb(63, 63, 63);
  --border-radius: 10px !important;
  color: white;
  text-transform: unset;
  width: 90%;
}
.space-h {
  height: 20vh;
}
.f_white {
  color: white;
}
.p-3 {
  padding: 30px 0px 10px;
}
ion-button.back {
  --background: none;
  color: white;
  position: absolute;
  top: 22px;
  width: 60px;
  font-size: 20px;
  z-index: 22;
  text-align: left;
  --background-activated: none;
}
.mt {
  margin-top: 2vh;
}
.mb {
  margin-bottom: 10vh;
}
.invalid {
  border: 1px solid #ea6153;
}
.txtTitle {
  font-size: 22px;
}
.btnText {
  font-size: 16px;
}
