<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span></ion-title
    >

    <!--
    <ion-title ion-text-left>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</ion-title>
    -->
  </ion-toolbar>
</ion-header>

<ion-content pager="ture">
  <ion-grid style="text-align: center">
    <ion-row>
      <ion-col>
        <ion-label class="doc-name"> {{product?.Mat_desc}} </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-slides loop="true" pager="false" height="300">
            <ion-slide *ngFor="let img of product?.image_detail">
              <img src="{{img.uri}}" style="max-height: 150px" />
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col style="text-align: right">
          <ion-icon class="doc-detail" name="remove-circle-outline" size="large" (click)="adjustQty()"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-input type="number" class="doc-detail product-qty" [(ngModel)]="prodQty" (keyup)="prodQtyKeyUp($event)"> </ion-input>
        </ion-col>
        <ion-col>
          <ion-icon class="doc-detail" name="add-circle-outline" size="large" (click)="addQty()"></ion-icon>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="doc-detail">
            <h5> - ราคา: {{product?.Price_inc_vat}} บาท </h5>
            <h5> - ค่ามัดจำ: {{product?.Dep_price}} บาท </h5>
            <h5> - ค่าส่ง: {{product?.Price_delivery}} บาท </h5>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <ion-grid *ngIf="product?.prodType == 0">
    <ion-row>
      <ion-list style="font-size: 10px">
        <ion-radio-group value="grape">
          <ion-item>
            <ion-label>
              <h4>แลกถัง</h4>
            </ion-label>
            <ion-radio slot="start" color="success" value="2" (click)="sumPrice(2)"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>
              <h4>ซื้อถังใหม่(มัดจำถังใหม่)</h4>
            </ion-label>
            <ion-radio slot="start" color="success" value="1" (click)="sumPrice(1)"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="doc-detail">
            <h4>ส่วนลด</h4>
          </ion-label>

          <ion-label class="doc-detail" *ngFor="let data of selectPromotion; let i = index;">
            <!--<h5>- {{data?.Discount_code}} ({{data?.Discount_value}} บาท)</h5>-->
            <h5>- {{data?.Discount_desc}} ({{data?.Discount_value}} บาท)</h5>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <!-- <ion-button size="default" color="success" expand="full">เลือกใช้ส่วนลด
          </ion-button> -->
          <button class="myButtonGreen" (click)="selectProm()">เลือกใช้ส่วนลด</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card *ngIf="showPriceDetail">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="doc-detail">ราคา</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{sumProdPrice + sumDepPrice + sumDelivery}} บาท</ion-label>
        </ion-col>
      </ion-row> -->
  <!-- <ion-row>
        <ion-col>
          <ion-label class="doc-detail">ค่ามัดจำถัง</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{sumDepPrice}} บาท</ion-label>
        </ion-col>
      </ion-row> -->
  <!-- <ion-row>
        <ion-col>
          <ion-label class="doc-detail">ค่าส่ง</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{sumDelivery}} บาท</ion-label>
        </ion-col>
      </ion-row> -->
  <!-- <ion-row>
        <ion-col>
          <ion-label class="doc-detail">ส่วนลด</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{sumProdDiscount}} บาท</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="doc-detail">รวม</ion-label>
        </ion-col>
        <ion-col style="text-align: right;">
          <ion-label class="doc-detail">{{sumProdTotal}} บาท</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> -->

  <ion-card (click)="showPriceDetail=!showPriceDetail" class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-text color="success">
            <h2>{{sumProdTotal | number:'1.2-2':'en-US'}} บาท</h2>
            *ราคาดังกล่าวรวมภาษีมูลค่าเพิ่มแล้ว
            <div style="margin-top: 0px">*ราคาขึ้นอยู่กับพื้นที่การให้บริการ</div>
          </ion-text>
        </ion-col>
        <!-- <ion-icon name="chevron-down-outline" *ngIf="!showPriceDetail"></ion-icon> -->
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <!-- <ion-button size="default" color="success" expand="full" (click)="addToCart()">
            หยิบสินค้าใส่ตะกร้า</ion-button> -->

          <button class="myButtonGreen" (click)="addToCart()">หยิบสินค้าใส่ตะกร้า</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
