<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span></ion-title>

    <!--
    <ion-title ion-text-left>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</ion-title>
    -->

  </ion-toolbar>
</ion-header>
<ion-content pager="ture">
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-label class="doc-name">
          ส่วนลด
        </ion-label>
      </ion-col>
    </ion-row>
    <hr>
  </ion-grid>


  <ion-grid>

    <div *ngIf="!promotionData">
      <ion-card style="border-top: 1px solid #aaa">
        <ion-row>
          <ion-col>
            <ion-label class="doc-detail">
              <ion-text color="primary">
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-text>
              <ion-thumbnail slot="start" style="width: 100%; height: 140px;">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div *ngFor="let data of promotionData; let i = index;">

      <ion-card *ngIf="data.Discount_desc!==null" [ngClass]="(data.active)?'card-style selectPromotion':'card-style'">
        <ion-row>
          <ion-col>
            <ion-label>
              <p>{{data.Discount_desc}}</p>
              <img src="{{data.Image_uri}}" alt="">
            </ion-label>
            <!-- <ion-checkbox slot="start" color="success" value="{{data.Discount_id}}"
            (click)="selectAddrToOrder(data.Discount_id, data.Discount_value)"></ion-checkbox> -->
          </ion-col>

          <button *ngIf="data.active===true" class="myButtonGreen" (click)="selectPromotion(data)"> ยกเลิกการเลือก </button>
          <button *ngIf="data.active===false" class="myButtonGreen" (click)="selectPromotion(data)"> เลือก </button>

        </ion-row>
      </ion-card>

    </div>

    <!-- "order_no": "string",
    "item_no": "string",
    "discount_id": 0,
    "discount_value": 0,
    "discount_qty": 0,
    "discount_amount": 0 -->

    <!-- <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <button class="myButtonGreen" (click)="addToOrder()">เลือกใช้ส่วนลด</button>
        </ion-footer>
      </ion-col>
    </ion-row> -->
  </ion-grid>






</ion-content>