<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- <ion-title ion-text-left>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</ion-title> -->

    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name"
        style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}}
        {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name"
        style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content pager="ture">
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-label class="doc-name">
          ร้านค้าใกล้เคียง
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <div id="mapGoogle" class="map-size" style="position: relative; height: calc(100vh - 200px);"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <!-- <ion-button class="btn btn-default" color="success" size="large" style="width: 100%;" (click)="saveOrder()">
            ยืนยันการสั่งซื้อ</ion-button> -->

          <button class="myButtonGreen" (click)="saveOrder()">ยืนยันการสั่งซื้อ</button>
        </ion-footer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>