<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-text-center>Register Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button size="small" fill="clear" class="back" (click)="goBack()">
    <img src="../../assets/img/back_white.png">
  </ion-button> -->
  <ion-row class="container">
    <ion-col size="12">
      <button class="myButtonGreen" (click)="goRegister()">สมัครสมาชิก</button>
    </ion-col>
  </ion-row>
  <ion-row class="container">
    <ion-col size="12">
      <button class="myButtonGreen">ลูกค้า Max Card</button>
    </ion-col>
  </ion-row>
  <ion-row class="container" style="display:none;">
    <ion-col size="12">
      <ion-row class="container">
        <span>เบอร์โทรศัพท์</span>
        <ion-col size="12">
          <!--<ion-input placeholder="เบอร์โทรศัพท์" type="text" formControlName="phone" maxLength="10"></ion-input>-->
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>