.sub-header {
  // border-bottom: 1px solid #cccccc;
  padding: 0px 8px 4px;
  font-size: 14px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: relative;
  z-index: 11;
}
.btn-edit-profile {
  width: 100%;
  --background: #404041;
  color: #ffffff;
  text-transform: unset;
}
.btn-logout {
  width: 100%;
  text-transform: unset;
}
.profile-img {
  border: 1px solid #4da859;
  padding: 2px;
  margin: auto;
}
.doc-name {
  color: #4da859;
}
.doc-id {
  color: #404041;
  font-size: 12px;
  line-height: 30px;
}
.ion-slides {
  width: 100%;
}
.swiper-container {
  padding-bottom: 30px;
}
.swiper-pagination {
  bottom: 10px;
}
ion-list {
  width: 100%;
  padding: 0px;
  background: transparent !important;
  margin-top: 0px;
}
ion-grid {
  color: #404041;

  ion-button {
    font-size: 12px;
    --border-radius: 5px;
    width: 100%;
    --background: #4da859 !important;
  }
}
ion-item-divider {
  padding: 6px 8px;
  ion-label {
    color: #4da859;
    font-size: 16px;
  }
  ion-icon {
    font-size: 28px;
    color: #4da859;
  }
}
ion-thumbnail {
  width: 35%;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  img {
    width: 100%;
  }
}
.item-desc {
  margin: 0px;
  h5 {
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 0;
    margin-top: 8px;
    color: #404041;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    span {
      color: #4da859;
    }
  }
  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #404041;
    font-size: 18px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    line-height: 14px;
  }
}

ion-slide {
  width: 100%;
}

.readmore {
  text-align: left;
  text-transform: none;
  font-family: 'OpenSans-Light';
  font-size: 12px;
  color: #4da859;
  ion-icon {
    font-family: 'OpenSans-Light';
    font-size: 12px;
    padding-top: 2px;
    position: relative;
    top: 2px;
  }
}
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

.skeleton {
  ion-avatar {
    margin-left: 18px;
  }
}

.btn-video {
  background-color: transparent;
  font-size: 10px;
  color: #404041;
  padding: 0;
  margin-bottom: 6px;
  margin-right: 8px;
  img {
    width: 16px;
  }
}

.btn-audio {
  background-color: transparent;
  font-size: 10px;
  color: #404041;
  padding: 0;
  margin-bottom: 6px;
  margin-right: 8px;
  margin-left: 8px;
  img {
    width: 18px;
  }
}

.map-size {
  position: relative;
  height: 400px;
}
