<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span></ion-title>
      
    <!--
    <ion-title ion-text-center>คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</ion-title>
    -->

  </ion-toolbar>
</ion-header>
<!--<ion-content>
  <ion-row class="sub-header">
    <ion-col size="3">
      <ion-avatar class="profile-img">
        <img src="{{userImg}}">
      </ion-avatar>
    </ion-col>
    <ion-col size="6">
      <ion-label class="doc-name">คุณ : {{userData?userData.userdetail.first_name + ' ' + userData.userdetail.last_name:''}}</ion-label><br>
      <ion-note class="doc-id">อีเมล : {{userData?userData.userdetail.email:''}}</ion-note>
    </ion-col>
    <ion-col size="3">
      <ion-button shape="round" size="small" class="btn-edit-profile" (click)="editProfile()">Edit</ion-button><br>
      <ion-button shape="round" size="small" class="btn-logout" (click)="presentAlertConfirm()">Logout</ion-button>
    </ion-col>
  </ion-row>
</ion-content>-->

<ion-content pager="ture">
  <ion-grid style="text-align: center">
    <ion-row style="border-bottom: 1px solid #aaa">
      <ion-col>
        <ion-label class="doc-name"> ข้อมูลผู้ใช้ </ion-label>
      </ion-col>
    </ion-row>
    <hr />
    <ion-row class="sub-header">
      <ion-col style="text-align: center">
        <ion-img src="../../assets/img/CusProfile-01.png" style="width: 50%; position: relative; left: 25%"></ion-img>
        <!--<ion-avatar class="profile-img" style="width:100px; height:100px;">
          <img src="{{userImg}}">
        </ion-avatar>-->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin: 0; padding: 0">
    <ion-card style="margin: 0 5px; border-radius: 0">
      <ion-row style="width: 100%">
        <ion-col>
          <ion-row>
            <ion-col>
              <ion-label>Max Card ID</ion-label>
              <ion-input value="{{userData?userData.data.Max_id:''}}" placeholder="หมายเลข Max Card"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label>ชื่อ - นามสกุล</ion-label>
              <ion-input value="{{userData?userData.data.First_name + ' ' + userData.data.Last_name:''}}" placeholder="ชื่อ - นามสกุล"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>เบอร์โทรศัพท์</ion-label>
              <ion-input value="{{userData?userData.data.Phone:''}}" placeholder="เบอร์โทรศัพท์"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label>E-mail</ion-label>
              <ion-input value="{{userData?userData.data.Email:''}}" placeholder="E-mail"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>บ้านเลขที่</ion-label>
              <ion-input value="{{userData?userData.data.Add_no:''}}" placeholder="บ้านเลขที่"></ion-input>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col>
              <ion-label>หมู่บ้าน</ion-label>
              <ion-input value="" placeholder="หมู่บ้าน"></ion-input>
            </ion-col>
          </ion-row> -->
          <!-- <ion-row>
            <ion-col>
              <ion-label>หมู่</ion-label>
              <ion-input value="" placeholder="หมู่"></ion-input>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col>
              <ion-label>ซอย</ion-label>
              <ion-input value="{{userData?userData.data.Soi:''}}" placeholder="ซอย"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>ถนน</ion-label>
              <ion-input value="{{userData?userData.data.Road:''}}" placeholder="ถนน"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>แขวง</ion-label>
              <ion-input value="{{userData?userData.data.Subdistrict:''}}" placeholder="แขวง"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>เขต</ion-label>
              <ion-input value="{{userData?userData.data.District:''}}" placeholder="เขต"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>จังหวัด</ion-label>
              <ion-input value="{{userData?userData.data.Province:''}}" placeholder="จังหวัด"></ion-input>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col>
              <ion-label>รหัสไปรษณีย์</ion-label>
              <ion-input value="" placeholder="รหัสไปรษณีย์"></ion-input>
            </ion-col>
          </ion-row> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div id="mapGoogle" class="map-size"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-img style="width: 200px" [src]="tel_callcenter?.CallCenter_Horizontal || 'https://devcentralportalstorage.blob.core.windows.net/masterprofile-image/phone_horizontal.png'"> </ion-img>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
      <ion-col>
        <ion-footer class="ion-no-border">
          <button class="myButtonGreen" >บันทึกข้อมูล</button>
        </ion-footer>
      </ion-col>
    </ion-row> -->
    </ion-card>
  </ion-grid>
</ion-content>
