<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title style="position: relative">
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; top: -13px; left: 0px">คุณ : {{userData?.data?.First_name}} {{userData?.data?.Last_name}}</span>
      <span *ngIf="userData?.data?.First_name" style="color: white !important; position: absolute; right: 10px; top: -13px">{{this.sCore}} แต้ม</span></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content pager="ture">

  <!--<div *ngFor="let article of dataGrpId.data; let i = index">-->
  <div *ngFor="let article of bannersImage.data; let i = index">  
    <ion-slides *ngIf="i<1" [options]="slideOpt" pager="false" style="width: 100% !important; padding-bottom: 0px">
      <ion-slide *ngFor="let banner of bannersImage.data" style="padding-bottom: 0px">
        <img [src]="banner.Image_uri" (click)="gotoPromotionDetails(banner)" style="width: 100vw !important; height: 100% !important" />
      </ion-slide>
    </ion-slides>
  </div>

  <ion-slides loop="false" pager="false" style="padding-bottom: 0">
    <ion-slide *ngFor="let btnMenu of btnArrMenu; let i = index;">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <!--
          <button class="myButtonGray" (click)="gotoGrpById(btnMenu[0].id)">{{btnMenu[0].name}}</button>
          -->
            <button *ngIf="btnMenu[0].id === currentGroup && btnMenu[0].id !== 0" class="myButtonGreen" (click)="gotoGrpById(btnMenu[0].id)">{{btnMenu[0].name}}</button>
            <button *ngIf="btnMenu[0].id !== currentGroup && btnMenu[0].id !== 0" class="myButtonGray" (click)="gotoGrpById(btnMenu[0].id)">{{btnMenu[0].name}}</button>
          </ion-col>
          <ion-col size="6">
            <!--
          <button class="myButtonGray" (click)="gotoGrpById(btnMenu[1].id)">{{btnMenu[1].name}}</button>
          -->
            <button *ngIf="btnMenu[1].id === currentGroup && btnMenu[1].id !== 0" class="myButtonGreen" (click)="gotoGrpById(btnMenu[1].id)">{{btnMenu[1].name}}</button>
            <button *ngIf="btnMenu[1].id !== currentGroup && btnMenu[1].id !== 0" class="myButtonGray" (click)="gotoGrpById(btnMenu[1].id)">{{btnMenu[1].name}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

  <ion-grid>

    <ion-row>
      <ion-col size="12" class="ion-text-center"> 
        <ion-text color="success">
        ราคาขึ้นอยู่กับพื้นที่การให้บริการ
      </ion-text>
    </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="6" class="m-0" *ngFor="let article of dataGrpId.data">
        <ion-card style="margin: 0">
          <ion-slides pager="false" style="height: 200px; padding-bottom: 0px">
            <ion-slide *ngFor="let img of article.image_detail" style="padding-bottom: 0px">
              <img src="{{img.uri}}" (click)="getProduct(article.Mat_code)" />
            </ion-slide>
          </ion-slides>
          <ion-card-content class="text-center" style="text-align: center">
            <!-- <center> -->
            <p>{{article.Mat_desc}}</p>
            <p>ราคา : {{article.Price_inc_vat + article.Price_delivery}} บาท</p>
            <!-- </center> -->
            <ion-footer class="ion-no-border">
              <button class="myButtonGreen" (click)="getProduct(article.Mat_code)">สั่งซื้อ</button>
            </ion-footer>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
