
.container {
  width: 100%;
  text-align: center;
  padding-top: 40px;
}
.logo {
  max-width: 180px;
  margin: auto;
}
.space-h {
  height: 20vh;
}
.f_white {
  color: white;
}
.p-3 {
  padding: 30px 0px 10px;
}
.invalid {
  border: 1px solid #ea6153;
}
.condition {
  padding: 24px 0;
  ion-label {
    position: relative;
    top: -4px;
    left: 4px;
    color: #000000;
    span {
      color: #ffffff;
    }
  }
}

.txtTitle {
  font-size: 22px;
}

.btnText {
  font-size: 16px;
}

.txtHeader {
  font-size: 16px;
  padding-left: 20px;
  color: red;
}

.map-size {
  position: relative;
  height: 400px;
}
