<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title ion-text-center>ลงทะเบียนใช้งาน</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content> -->

<!-- <ion-button size="small" fill="clear" class="back" (click)="goBack()">
    <img src="../../assets/img/back_white.png">
  </ion-button> -->

<ion-content pager="ture">

  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <ion-label class="doc-name">
          ลงทะเบียนใช้งาน
        </ion-label>
      </ion-col>
    </ion-row>

    <form [formGroup]="registerForm">

      <ion-row class="container">

        <!--
      <ion-col size="12">
        <span class="font_bold txtTitle">ลงทะเบียนใช้งาน</span>
      </ion-col>
      -->

        <span class="txtHeader" *ngIf="maxCardData.CardNo !== ''"></span> <span
          *ngIf="maxCardData.CardNo !== ''">หมายเลข Max Card</span>
        <ion-col size="12" *ngIf="maxCardData.CardNo !== ''">
          <ion-input placeholder="เบอร์โทรศัพท์" type="number" value="{{maxCardData?.CardNo}}">
          </ion-input>
        </ion-col>

        <span class="txtHeader">*</span> <span>เบอร์โทรศัพท์</span>
        <ion-col size="12">
          <ion-input placeholder="เบอร์โทรศัพท์" type="text" formControlName="phone" maxLength="10"
            value="{{maxCardData?.PhoneNo}}"
            [class.invalid]="!registerForm.controls.phone.valid && (registerForm.controls.phone.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader"></span> <span>อีเมล</span>
        <ion-col size="12">
          <ion-input placeholder="อีเมล" type="email" formControlName="email"
            [class.invalid]="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader">*</span> <span>ชื่อผู้ใช้/เบอร์โทรศัพท์</span>
        <ion-col size="12">
          <ion-input placeholder="ชื่อผู้ใช้/เบอร์โทรศัพท์" type="text" formControlName="username"
            [class.invalid]="!registerForm.controls.username.valid && (registerForm.controls.username.dirty || submitAttempt)"
            numbersEngOnly>
          </ion-input>
        </ion-col>

        <span class="txtHeader">*</span> <span>รหัสผ่าน</span>
        <ion-col size="12">
          <ion-input placeholder="รหัสผ่าน" type="password" formControlName="password"
            [class.invalid]="!registerForm.controls.password.valid && (registerForm.controls.password.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader">*</span> <span>กรอกรหัสผ่านอีกครั้ง</span>
        <ion-col size="12">
          <ion-input placeholder="กรอกรหัสผ่านอีกครั้ง" type="password" formControlName="confirmpassword"
            [class.invalid]="!registerForm.controls.confirmpassword.valid && (registerForm.controls.confirmpassword.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader">*</span> <span>คำนำหน้านาม</span>
        <ion-col size="12">
          <ion-select placeholder="กรุณาเลือก" formControlName="prefixs"
            [class.invalid]="!registerForm.controls.prefixs.valid && (registerForm.controls.prefixs.dirty || submitAttempt)">
            <ion-select-option *ngFor="let data of prefixsList" value="{{data.Prefix}}">{{data.Prefix_desc}}
            </ion-select-option>
          </ion-select>
        </ion-col>

        <span class="txtHeader">*</span> <span>ชื่อ</span>
        <ion-col size="12">
          <ion-input placeholder="ชื่อ" type="text" formControlName="first_name" value="{{maxCardData?.FName}}"
            [class.invalid]="!registerForm.controls.first_name.valid && (registerForm.controls.first_name.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader">*</span> <span>นามสกุล</span>
        <ion-col size="12">
          <ion-input placeholder="นามสกุล" type="text" formControlName="last_name" value="{{maxCardData?.LName}}"
            [class.invalid]="!registerForm.controls.last_name.valid && (registerForm.controls.last_name.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <!--<span class="txtHeader">*</span> <span>ประเภทบัตร</span>-->
        <span class="txtHeader"></span><span>ประเภทบัตร</span>
        <ion-col size="12">
          <ion-select placeholder="กรุณาเลือก" formControlName="card_type" (ionChange)="changeCard($event)"
            [class.invalid]="!registerForm.controls.card_type.valid && (registerForm.controls.card_type.dirty || submitAttempt)">
            <ion-select-option value="0">ไม่ระบุ</ion-select-option>
            <ion-select-option value="1">บัตรประชาชน</ion-select-option>
            <ion-select-option value="2">เลขที่หนังสือเดินทาง</ion-select-option>
          </ion-select>
        </ion-col>

        
        <!--<span class="txtHeader">*</span> <span>หมายเลขบัตร</span>-->
        <span class="txtHeader"></span><span>หมายเลขบัตร</span>
        <ion-col size="12">
          <ion-input placeholder="หมายเลขบัตร" formControlName="id_card" [type]="inputTypeCard"
            [ngModel]="inputTypeCardValue" [maxlength]="inputTypeCardMax" value="{{maxCardData?.CitizenID}}"
            [class.invalid]="!registerForm.controls.id_card.valid && (registerForm.controls.id_card.dirty || submitAttempt)"
            maxLength="13">
          </ion-input>
        </ion-col>

        <!--<span class="txtHeader">*</span> <span>วัน เดือน ปีเกิด</span>-->
        <span class="txtHeader"></span><span>วัน เดือน ปีเกิด</span>
        <ion-col size="12">
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="วัน เดือน ปีเกิด" formControlName="birthday"
            [class.invalid]="!registerForm.controls.birthday.valid && (registerForm.controls.birthday.dirty || submitAttempt)"
            style="border: 1px solid;">
          </ion-datetime>
        </ion-col>

        <!--<span class="txtHeader">*</span> <span>เพศ</span>-->
        <span class="txtHeader"></span><span>เพศ</span>
        <ion-col size="12">
          <ion-select placeholder="กรุณาเลือก" formControlName="gender"
            [class.invalid]="!registerForm.controls.gender.valid && (registerForm.controls.gender.dirty || submitAttempt)">
            <ion-select-option value="0">ไม่ระบุ</ion-select-option>
            <ion-select-option value="1">ชาย</ion-select-option>
            <ion-select-option value="2">หญิง</ion-select-option>
          </ion-select>
        </ion-col>
        
        <!--
        <span class="txtHeader"></span> <span>หมายเลขบัตร</span>
        <ion-col size="12">
          <ion-input placeholder="หมายเลขบัตร" formControlName="id_card" [type]="inputTypeCard"
            [ngModel]="inputTypeCardValue" [maxlength]="inputTypeCardMax" value="{{maxCardData?.CitizenID}}"
            [class.invalid]="!registerForm.controls.id_card.valid && (registerForm.controls.id_card.dirty || submitAttempt)"
            maxLength="13">
          </ion-input>
        </ion-col>

        <span class="txtHeader"></span> <span>วัน เดือน ปีเกิด</span>
        <ion-col size="12">
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="วัน เดือน ปีเกิด" formControlName="birthday"
            [class.invalid]="!registerForm.controls.birthday.valid && (registerForm.controls.birthday.dirty || submitAttempt)"
            style="border: 1px solid;">
          </ion-datetime>
        </ion-col>

        <span class="txtHeader"></span> <span>เพศ</span>
        <ion-col size="12">
          <ion-select placeholder="กรุณาเลือก" formControlName="gender"
            [class.invalid]="!registerForm.controls.gender.valid && (registerForm.controls.gender.dirty || submitAttempt)">
            <ion-select-option value="1">ชาย</ion-select-option>
            <ion-select-option value="2">หญิง</ion-select-option>
          </ion-select>
        </ion-col>
        -->

        <span class="txtHeader"></span><span>บ้านเลขที่</span>
        <ion-col size="12">
          <ion-input placeholder="บ้านเลขที่" type="text" formControlName="addrNo"
            [class.invalid]="!registerForm.controls.addrNo.valid && (registerForm.controls.addrNo.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader"></span><span>หมู่บ้าน</span>
        <ion-col size="12">
          <ion-input placeholder="หมู่บ้าน" type="text" formControlName="village"
            [class.invalid]="!registerForm.controls.village.valid && (registerForm.controls.village.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader"></span><span>หมู่</span>
        <ion-col size="12">
          <ion-input placeholder="หมู่" type="number" formControlName="moo"
            [class.invalid]="!registerForm.controls.moo.valid && (registerForm.controls.moo.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader"></span><span>ซอย</span>
        <ion-col size="12">
          <ion-input placeholder="ซอย" type="text" formControlName="soi"
            [class.invalid]="!registerForm.controls.soi.valid && (registerForm.controls.soi.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader"></span><span>ถนน</span>
        <ion-col size="12">
          <ion-input placeholder="ถนน" type="text" formControlName="road"
            [class.invalid]="!registerForm.controls.road.valid && (registerForm.controls.road.dirty || submitAttempt)">
          </ion-input>
        </ion-col>

        <span class="txtHeader">*</span><span>จังหวัด</span>
        <ion-col size="12">
          <ion-select placeholder="กรุณาเลือก" formControlName="province" #province
            (ionChange)="getDistrict(province.value)"
            [class.invalid]="!registerForm.controls.province.valid && (registerForm.controls.province.dirty || submitAttempt)">
            <ion-select-option *ngFor="let data of provList" value="{{data.Pro_id}}">{{data.Pro_nameth}}
            </ion-select-option>
          </ion-select>
        </ion-col>

        <span class="txtHeader">*</span> <span>เขต</span>
        <ion-col size="12">
          <ion-select placeholder="กรุณาเลือก" formControlName="district" #district
            (ionChange)="getSubDistrict(district.value)"
            [class.invalid]="!registerForm.controls.district.valid && (registerForm.controls.district.dirty || submitAttempt)">
            <ion-select-option *ngFor="let data of distList" value="{{data.Dist_id}}">{{data.Dist_nameth}}
            </ion-select-option>
          </ion-select>
        </ion-col>

        <span class="txtHeader">*</span> <span>แขวง</span>
        <ion-col size="12">
          <ion-select placeholder="กรุณาเลือก" formControlName="subdistrict" #subdistrict
            (ionChange)="selectSubDistrict(subdistrict.value)"
            [class.invalid]="!registerForm.controls.subdistrict.valid && (registerForm.controls.subdistrict.dirty || submitAttempt)">
            <ion-select-option *ngFor="let data of subdistList" value="{{data.Sub_id}}"
              (click)="data.setZipcode(data.Sub_zipcode)">{{data.Sub_nameth}}
            </ion-select-option>
          </ion-select>
        </ion-col>

        <!-- <span class="txtHeader"></span> <span>รหัสไปรษณีย์</span>
        <ion-col size="12">
          <ion-input placeholder="รหัสไปรษณีย์" type="text" formControlName="zipcode" value="{{zipcode}}"
            [class.invalid]="!registerForm.controls.zipcode.valid && (registerForm.controls.zipcode.dirty || submitAttempt)">
          </ion-input>
        </ion-col> -->

        <ion-col size="12">
          <div id="mapGoogle" class="map-size"></div>
        </ion-col>

        <ion-col size="12">
          <ion-checkbox color="primary" (click)="acceptCondition()"></ion-checkbox>
          <ion-label>ยอมรับ <span (click)="openModal()"><u>เงื่อนไขและข้อตกลง</u></span></ion-label>
        </ion-col>
        <ion-col size="12" *ngIf="maxCardData.CardNo === ''">
          <ion-checkbox color="primary" (click)="regisMaxCard()"></ion-checkbox>
          <ion-label>สมัครสมาชิก Max Card</ion-label>
        </ion-col>
        <ion-col size="12">
          <!-- <ion-button class="btnText" shape="round" size="large" color="dark" expand="full" (click)="Save()">สมัครสมาชิก
        </ion-button> -->
          <button class="myButtonGreen" (click)="Save()">สมัครสมาชิก</button>
        </ion-col>

      </ion-row>
    </form>
  </ion-grid>
</ion-content>